:root{
    --main-color: #333333;
    --white-color: #ffffff;
    --main-transition: 0.3s;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Lora", serif;
   
}

html{
    scroll-behavior: smooth;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
 
}

.special-heading{
    color: var(--main-color);
    font-size: 80px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3;
    margin: 0;
}

.special-heading + p{
    margin: -10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #939fa4;
}

/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;    
    }
}
/* Medium */
@media (min-width: 992px) {
    .container{
        width: 970px;

    }
   
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;

    }
    
}
/* Global Rules end */

/* Start Header */
.header{
    width: 100%;
    background-color: var(--main-color);
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.header .container .logo{
    width: 200px;
}

.header .container .links{
    position: relative;
}

.header .container .links .icon{
    width: 30px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.header .container .links .icon span{
    background-color: var(--white-color);
    margin-bottom: 5px;
    height: 3px;
}

.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.header .links:hover .icon span:nth-child(2){
    width: 100%;
}

.header .links .icon span:last-child{
    width: 100%;
}

.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: -85px;
    right: 15px;
    background-color: var(--main-color);
    min-width: 200px;
    z-index: 1;
    display: none;
    top: calc(100% + 15px);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

@media (max-width:767px) {
    .header .links ul{
        left: -170px;
        right: 15px;

    }

    
}

.header .links ul li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.header .links ul li a:hover{
    margin-left: 20px;
}
.header .links ul img{
    padding-left: 45px;
    padding-top: 50px;
    padding-bottom: 40px;
}

.header .links ul .social{
    margin-left:5px;
    float: left;
    padding-top: 40px;
    padding-left: 25px;
    padding-bottom: 40px;

}
.header .links ul .social i{
   background-color: white;
   font-size: 25px;
   margin-left: 10px;
   width: 40px;
   height: 40px;
   text-align: center;
   border-radius:50% ;
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header .links:hover ul{
    display: block;
}

.header .links ul li:not(:last-child) a{
    border-bottom: 2px solid #ddd;
}
/* Start Landing */
.landing{
    background-image: url(/images/leand.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;    
}
.landing::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(25 25 25 / 75%);

}
.landing .text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 400px;
    max-width: 100%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.landing .text h1{
    margin: 0;
    font-size: 50px;
    color: var(--white-color);
}
.landing .text p{
    font-size: 19px;
    line-height: 1.8;
    color: #EEE;
}
.landing .text button{
    border: none;
    background-color: #fa694e;
    color: var(--white-color);
    padding: 10px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
}
/* End Landing */

/* start skills section */
.skills{
    padding-top: 60px;
    padding-bottom: 60px;
}
.skills .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
}   
.skills .container .skill{
    padding: 20px;
    text-align: center;
}

.skills .container .skill i{
    height: 80px;
    width: 80px;
    color: white;
    background-color: #fa694e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding-top: 30px;
    font-size: 25px;
    border: 2px solid #ddd;
}

.skills .container .white i{
    background-color: white;
    color: #fa694e;
}

.skills .container .skill h3{
    font-weight: normal;
    margin: 30px 0;
}
.skills .container .skill p{
    line-height: 1.8;
    color: #999;
    font-size: 17px;
}

/* end skills section */

/* start Section two */
.stories{
        background-color: #EEE;
}
.stories .container{
    padding-top: 60px;
    padding-bottom: 60px;
}

.stories .project{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 20px;
    margin-top: 50px;
}

.stories .container .project .image img{
    height: 350px;
    width: 580px; 
}

@media (max-width:767px) {
    .stories .container .project .image img{
        display: none;
    }

    .special-heading{
        font-size: 50px;
    }
        .special-heading + p {
        margin-top: 20px;
    }
    .stories .project{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 50px;
}
    .stories .container .project .info p{
        text-align: center;
    }
   
}
.stories .container .project .info{
    flex: 1;
    border: 2px solid #DDD;
}
.stories .container .project .info h3{
    text-align: center;
    font-weight: normal;
}
.stories .container .project .info p{
    line-height: 1.8;
    color: #939fa4;
    padding: 20px;

}
.stories .container .project .info button{
    border: none;
    padding: 15px 45px;
    background-color: #fa694e;
    color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 20px;

}

.protfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.protfolio .card{
    position: relative;
}

.protfolio .card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(25 25 25 / 75%);
    height: calc(100% - 5px);
    width: 100%;
    opacity: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.protfolio .card::after{
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fa694e;
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: white;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.protfolio .card:hover::after,
.protfolio .card:hover::before{
    opacity: 1;
}

.protfolio .container .card img{
    height: 250px;
    max-width: 100%;
}

/* End Section two */
/* start section Get In touch */


.touch{
    padding-top: 60px;
    padding-bottom: 60px;
}

.touch .image{
    background-image: url(/images/touch.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    height: 80vh;
    width: 100%;
    margin-top: 40px;    
}

.touch .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(25 25 25 / 60%);
    height:100%;
    width: 100%;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}


.touch .image h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    font-size: 30px;
    background-color: var(--main-color);
    color: #fa694e;
    padding: 20px 30px;
    font-weight: normal;
}

.touch .image h3::after{
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
    position: absolute;
    left: 50%;
    bottom:-19px;

}




@media (max-width:767px) {
    .container .content{
        flex-direction: column;
        text-align: center;
    }
    .container .content form{
     margin-left: 50px;

    }


}
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 40px;
  font-family: sans-serif;
}

.form-section {
  flex: 2;
}

.info-section {
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 20px;
}

.row input {
  flex: 1;
}

input,
textarea {
  padding: 15px;
  border: none;
  background-color: #f3f6f9;
  font-size: 16px;
}

textarea {
  min-height: 150px;
  resize: vertical;
  resize: none;
}

button {
  padding: 15px;
  background-color: #fa694e;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #e25a40;
}
/* start section Get In touch */

/* start footer */
.footer{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-bottom: 10px;
    color: white;
}

.footer .social{
    position: relative;
    

}
.footer .social i{
   background-color: white;
   color: black;
   font-size: 25px;
   width: 40px;
   height: 40px;
   border-radius:50% ;
   -webkit-border-radius:50% ;
   -moz-border-radius:50% ;
   -ms-border-radius:50% ;
   -o-border-radius:50% ;
   text-align: center;
   padding-top: 6px;
   margin-right: 10px;
 
}

@media (max-width:767px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer .social i{
        margin-top: 20px;
    }
}
/* end footer */
